.task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #b51ce3;
  border-radius: 10px;
  margin: 10px;
color: aliceblue;
 width: 550px;
 transition: background-color 0.3s;
}
.task:hover {
  background-color: #731495;

}

.task > div {
  margin-right: 10px;
}

.action button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #999;
  transition: color 0.4s;
}
.action button:hover {
  color: #edeaea;
}

